services:
  pgdatabase:
    image: postgres:18 #Think of this like downloading a prebuilt Postgres machine.
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "ny_taxi"
    volumes:
      - "ny_taxi_postgres_data:/var/lib/postgresql" 
      #Store Postgres data in a safe place called ny_taxi_postgres_data so it survives restarts
      #/var/lib/postgresql is where Postgres keeps its data inside the container.
    ports:
      - "5432:5432" #ComputerPort:ContainerPort

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
      PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT: "False"
    volumes:
      - "pgadmin_data:/var/lib/pgadmin" #Store pgAdmin data in a safe place called pgadmin_data so it survives restarts
    ports:
      - "8085:80"

  #Adding another Postgres container but dedicated to Kestra
  kestra_postgres:
    image: postgres:18
    volumes:
      - kestra_postgres_data:/var/lib/postgresql #Store Kestra Postgres data in a safe place called kestra_postgres_data so it survives restarts
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    healthcheck: #Check if Postgres is ready to accept connections
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"] 
      interval: 30s
      timeout: 10s
      retries: 10

  kestra:
    image: kestra/kestra:v1.1
    pull_policy: always 
    #Dev only. Every time I start, check for a newer image with this tag
    #Note that this setup with a root user is intended for development purpose
    #Our base image runs without root, but the Docker Compose implementation needs root to access the Docker socket
    user: "root"
    # Run the container as the root user
    # Needed for file permissions and Docker socket access
    
    command: server standalone 
    #Tells Kestra to run in standalone server mode - runs everything in one process
    # "server standalone" runs UI, API, scheduler, and worker in one process
    
    env_file:
    - .env  # Add this line to load the .env file
    
    volumes:
    # Persistent storage for Kestra files (flows, logs, artifacts)
    # This maps a Docker volume to /app/storage inside the container
    - kestra_data:/app/storage

    # Mount the Docker socket from the host (Codespace VM)
    # This allows Kestra to start and manage Docker containers for tasks
    - /var/run/docker.sock:/var/run/docker.sock

    # Working directory for temporary task files
    # Used during task execution
    - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      # Add the GCP service account as a regular environment variable
      GOOGLE_APPLICATION_CREDENTIALS_JSON: ${SECRET_GCP_SERVICE_ACCOUNT}
      
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            # JDBC connection string to the Postgres container
            url: jdbc:postgresql://kestra_postgres:5432/kestra # "kestra_postgres" is the Docker service name
            driverClassName: org.postgresql.Driver
            username: kestra # Database credentials (must match kestra_postgres config)
            password: k3str4
        kestra:
          server:
            basicAuth:
              username: "admin@kestra.io" # it must be a valid email address
              password: Admin1234
          repository: # Store Kestra metadata (flows, executions) in Postgres
            type: postgres
          storage: # Store files locally on disk
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
        # Base URL that Kestra uses to advertise itself
        # In Codespaces, this is forwarded to a public URL
    
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      kestra_postgres:
        condition: service_started

volumes: #Please create the below named storage areas
  ny_taxi_postgres_data:
  pgadmin_data:
  kestra_postgres_data:
  kestra_data: